.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* */

.nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* */

.post-box{
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background-color: #F7F7F7;
  width: 50%;
}

.comment-box{
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background-color: #F7F7F7;
  width: 40%;
}

h5 {
  color: #9b9b9a;
  font-size: 12pt;
  line-height: 10px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.bold-title{
  color: #000000;
  display: inline;
  font-weight: bold;
}

.orange-info {
  color: coral;
  display: inline;
  font-weight: normal;
}

.new-post-button{
  padding: 20px;
  margin: auto;
  width: 200px;
  background-color: #333;
  border: 1px solid #3e3d3f;
  border-radius: 4px;

  text-align: center;
  text-decoration: none;
  color: white;
}

.new-post-button:hover {
  background-color: #111;
}

.profile{
  color: coral;
}

.new-post-box{
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  background-color: #F7F7F7;
  width: 40%;
}

.text-area{
  width: 90%;
  resize:none;
}